@model IEnumerable<dm.Models.Services>
@{

    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<main id="main" class="main">

    <div class="card-body">
      <h5 class="card-title">All  Services</h5>

      <!-- Default Table -->
        @foreach (var item in Model)
        {
            <div class="max-w-md w-full bg-white shadow-lg rounded-md p-6">

                <!-- Author and Description -->
                <div class="mb-4">
                    <p class="text-gray-700 text-md">@item.Heading</p>
                </div>

                <!-- Subheading and Title -->
                <div class="mb-4">
                    <h4 class="text-gray-600 text-md">@item.About</h4>
                </div>

                <div class="mt-4">

                    <div>
                        <a class="btn btn-outline-danger" asp-route-id="@item.Id"  asp-action="delete">Delete</a>
                        <a class="btn btn-outline-primary" asp-route-id="@item.Id"  asp-action="EditServices">Edit</a>
                    </div>
                </div>

            </div>
        }
</div>
      <!-- End Default Table Example -->
    </div>

  </main><!-- End #main -->

    