@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager






@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
  
 <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41">
        <a type="submit" class="elementor-item">Logout us</a>
    </li>
 </form>
    
}
else
{
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
        <a class="elementor-button-text" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42">
        <a class="elementor-button-text" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}








